body{
font-family: "Times New Roman", serif;
}
#container{ /* kontener glowny */
color: #000000;
height:auto;
width: 300px;
}
label{
font-weight: bold;
display: inline-block;
width: 5em;
float:left;
clear:left;
text-align: right;
margin-bottom:10px;
}
a{
color:GREEN;
font-weight: bold;
text-decoration:none;
}
a:hover{
color:BLACK;
}
.lData{
 margin-bottom:1em;  
}
