
 body{
font-family: "Times New Roman", serif;
}
div{
margin-left:0;
margin-right:0;
}
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
padding:0px;
}
.select{
width:5px;
padding:0px;
}
fieldset{
width:300px;
}
.indexed{
width:30px;
padding:0px;
margin-left:1px;
}
.nickName{
width:200px;
}
a{
font-family: "Times New Roman", serif, color:blue;
}