
 body{
font-family: "Times New Roman", serif;
}
div{
margin-left:0;
margin-right:0;
}
#container{ /* kontener glowny */
background-color: #E0E0E0  ;
height:auto;
width: auto;
}

#page{ /* srodkowa strona */
height:auto;
width: 100%;
border: 1px solid gray;
padding:0px;
margin-top:3em;
}
#left{ /* lewa strona */
height:auto;
width: 70%;
float:left;
}
#right{ /* prawa strona */
background-color: #989898  ;
height:auto;
width: auto;
float:left;
border: 2px solid black;
}
#search_panel form{
float:right;
}

#menu{ /* przyciski nawigacyjne */
height:3em;
width: 80em;
position:fixed;
left:0px;
top:0px;
}

#menu ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#menu ul li
{
float:left;
}
#menu ul li a{
display:block;
float:left;
position:static;
text-decoration:none;
clear:right;
}
.menu {
border: 1px solid black;
font-size:15px;
color:white;
margin-right:0px;
background-color: #393D3D;
text-transform:uppercase;
padding:10px;
overflow:hidden;
}
a:hover.menu{
background-color: #889191;
}
fieldset{
width:400px;
}