body{
font-family: "Times New Roman", serif;
}
div{
position:static;
clear:right;
}
#container{ /* kontener glowny */
color: #000000;
height:auto;
width: auto;
}
.kolumny{
margin:5px;
border: 1px solid gray;
padding:5px;
}
#page{
width:auto;
height:auto;
}
#lewy{
float:left;
}
#srodkowy{
float:left;
}
#prawy{
float:left;
}
textarea{
margin:1px;
padding:1px;
}
button{
float:right;
}