body{
font-family: "Times New Roman", serif;
}

#container{ /* kontener glowny */
color: #000000;
height:auto;
width: auto;
}
label{
font-weight: bold;
display: inline-block;
width: 9em;
float:left;
clear:left;
text-align: right;
margin-bottom:10px;
}

fieldset{
width:400px;
}

.pData{
float:right;
color:grey;
}

.submit{
 margin-top:3em;  
}

